/* ConnectionsPage.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.connections-game {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.terms-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.term-block {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 10px; 
  width: 135px; 
  height: 135px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  box-sizing: border-box;
}

.term-block.selected {
  background-color: #858585; 
  transform: scale(1.01); 
}

.term-block:hover {
  background-color: #cccccc;
}

.mistakes-section {
  text-align: center;
  font-size: 17px;
  margin-bottom: 15px; 
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.game-controls button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s;
  height: 40px; 
  width: 200px;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.game-controls button:hover {
  background-color: #555;
}

.game-controls button:disabled {
  background-color: #444;
  color: #bbb;
  cursor: not-allowed;
  opacity: 0.6;
}

.baseball-icon {
  width: 23px;
  height: auto;
  display: inline-block;
  margin-right: 4px;
}

.popup-message {
  position: absolute;
  top: 4.8%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #f44336;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: -25px;
  z-index: 10; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(150% - 10px);
  max-width: 350px;
}

.popup-show {
  display: block; 
}

.guessed-group-combined {
  color: white;
  height: 135px;
  width: 102%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.group-description {
  font-weight: bold;
  margin-bottom: 5px;
}

.results-popup {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.results-content {
  position: relative;
  background: #fff;
  color: #333;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  max-width: 1200px;
  min-height: 200px;
  max-height: 800px;
  overflow-y: auto;
}

.results-content h2 {
  margin-bottom: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.game-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  transition: background-color 0.3s;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 40px;
  margin-bottom: 35px;
}

.copy-summary-button {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: -1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.copy-summary-button:hover {
  background-color: #0056b3;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.difficulty-level {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.difficulty-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.difficulty-name {
  font-size: 15px;
  min-width: 80px;
  font-weight: 500;
  text-align: left;
}

.game-summary-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.summary-row {
  display: flex;
}

.summary-block {
  width: 35px;
  height: 35px;
  margin: 2px;
}

.next-puzzle-countdown {
  margin-top: 2.0rem;
  color: #333;
  font-size: 19px;
  font-weight: 500;
}

.message-header {
  font-size: 26px;
  font-weight: 800;
  margin-top: -30px;
  margin-bottom: 0px;
}

.game-number {
  font-size: 16px;
  margin-top: -15px;
  margin-bottom: 15px;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-container::before {
  content: '';
  visibility: hidden;
  width: 46.5px;
  height: -50px;
  display: block;
}

h1 {
  flex-grow: 1;
}

.how-to-play-content {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 600px;
}

.how-to-play-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 0px;
  margin-top: -25px;
  transition: background-color 0.3s;
  height: 40px; 
  width: 90px;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.button-placeholder {
  visibility: hidden;
  width: 46.5px;
  height: -50px;
}

.how-to-play-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.how-to-play-content {
  text-align: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.how-to-play-content p {
  line-height: 3.5;
  font-weight: 500;
}

.how-to-play-content h1 {
  margin-top: -10px;
  font-weight: bold;
}

.example-section {
  margin: 14px 0;
}

.example-group {
  margin-bottom: 30px;
}

.player-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.player-images img {
  width: 80px;
  height: auto;
}


















@media (max-width: 600px) {

  .connections-game {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding:  5.2356020942408374vw;
    text-align: center;
    overflow-x: auto;
  }
  
  h1 {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 60px;
  }

  .terms-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 45px;
    min-width: 0;
  }
  
  .term-block {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 10px; 
    width: 85px; 
    height: 85px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .mistakes-section {
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px; 
  }
  
  .game-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .game-controls button {
    padding: 5px 5px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s;
    height: 30px; 
    width: 130px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    margin-bottom: 100px
  }

  .baseball-icon {
    width: 23px;
    height: auto;
    display: inline-block;
    margin-right: 4px;
  }
  
  .popup-message {
    position: absolute;
    top: 15.0%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #f44336;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -25px;
    z-index: 10; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(150% - 10px);
    max-width: 350px;
    font-size: 14px;
  }
  
  .popup-show {
    display: block; 
  }
  
  .guessed-group-combined {
    color: white;
    height: 85px;
    width: 102%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .group-description {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .results-popup {
    position: fixed;
    top: 0;
    left: -90px;
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .results-content {
    position: relative;
    background: #fff;
    color: #333;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    max-width: 1200px;
    min-height: 200px;
    max-height: 800px;
    overflow-y: auto;
  }
  
  .results-content h2 {
    margin-bottom: 1rem;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 25px;
    color: black;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .game-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  
  .copy-summary-button {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: -1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .copy-summary-button:hover {
    background-color: #0056b3;
  }
  
  .difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .difficulty-level {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .difficulty-color {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .difficulty-name {
    font-size: 15px;
    min-width: 80px;
    font-weight: 500;
    text-align: left;
  }
  
  .game-summary-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .summary-row {
    display: flex;
  }
  
  .summary-block {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
  
  .next-puzzle-countdown {
    margin-top: 2.0rem;
    color: #333;
    font-size: 19px;
    font-weight: 500;
  }
  
  .message-header {
    font-size: 26px;
    font-weight: 800;
    margin-top: -30px;
    margin-bottom: 0px;
  }
  
  .game-number {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .how-to-play-content {
    background: #fff;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 600px;
  }
  
  .how-to-play-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -30px;
    transition: background-color 0.3s;
    height: 40px; 
    width: 90px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 10px;
  }
  
  .button-placeholder {
    visibility: hidden;
    width: 16.5px;
    height: -50px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .header-container::before {
    content: '';
    visibility: hidden;
    width: 46.5px;
    height: -50px;
    display: block;
  }

  .how-to-play-popup {
    position: relative;
    top: -680px;
    left: -45px;
    width: 130%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .how-to-play-content {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
  }
  
  .how-to-play-content p {
    line-height: 3.5;
    font-weight: 500;
  }
  
  .how-to-play-content h1 {
    margin-top: -10px;
    font-weight: bold;
  }
  
  .example-section {
    margin: 14px 0;
  }
  
  .example-group {
    margin-bottom: 30px;
  }
  
  .player-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .player-images img {
    width: 50px;
    height: auto;
  }
}







































@media (max-width: 400px) {
  .connections-game {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    padding:  5.2356020942408374vw;
    text-align: center;
    overflow-x: auto;
  }
  
  h1 {
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 60px;
  }

  .terms-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 55px;
    min-width: 0;
  }
  
  .term-block {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 10px; 
    width: 45px; 
    height: 45px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .mistakes-section {
    text-align: center;
    font-size: 10px;
    margin-bottom: 50px; 
  }
  
  .game-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .game-controls button {
    padding: 5px 5px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.3s;
    height: 30px; 
    width: 130px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    margin-bottom: 200px
  }

  .baseball-icon {
    width: 23px;
    height: auto;
    display: inline-block;
    margin-right: 4px;
  }
  
  .popup-message {
    position: absolute;
    top: 15.0%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #f44336;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -25px;
    z-index: 10; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(150% - 10px);
    max-width: 350px;
    font-size: 14px;
  }
  
  .popup-show {
    display: block; 
  }
  
  .guessed-group-combined {
    color: white;
    height: 85px;
    width: 102%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .group-description {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .results-popup {
    position: fixed;
    top: 0;
    left: -260px;
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .results-content {
    position: relative;
    background: #fff;
    color: #333;
    padding: 40px;
    border-radius: 8px;
    width: 25%;
    max-width: 1200px;
    min-height: 200px;
    max-height: 800px;
    overflow-y: auto;
  }
  
  .results-content h2 {
    margin-bottom: 1rem;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 25px;
    color: black;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .game-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 200px;
  }
  
  .copy-summary-button {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: -1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .copy-summary-button:hover {
    background-color: #0056b3;
  }
  
  .difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .difficulty-level {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .difficulty-color {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .difficulty-name {
    font-size: 15px;
    min-width: 80px;
    font-weight: 500;
    text-align: left;
  }
  
  .game-summary-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .summary-row {
    display: flex;
  }
  
  .summary-block {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
  
  .next-puzzle-countdown {
    margin-top: 2.0rem;
    color: #333;
    font-size: 19px;
    font-weight: 500;
  }
  
  .message-header {
    font-size: 26px;
    font-weight: 800;
    margin-top: -30px;
    margin-bottom: 0px;
  }
  
  .game-number {
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .how-to-play-content {
    background: #fff;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    width: auto;
    max-width: 300px;
  }
  
  .how-to-play-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -30px;
    transition: background-color 0.3s;
    height: 40px; 
    width: 90px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 10px;
  }
  
  .button-placeholder {
    visibility: hidden;
    width: 16.5px;
    height: -50px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .header-container::before {
    content: '';
    visibility: hidden;
    width: 46.5px;
    height: -50px;
    display: block;
  }

  .how-to-play-popup {
    position: relative;
    top: -730px;
    left: -45px;
    width: 130%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .how-to-play-content {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
  }
  
  .how-to-play-content p {
    line-height: 3.5;
    font-weight: 500;
  }
  
  .how-to-play-content h1 {
    margin-top: -10px;
    font-weight: bold;
  }
  
  .example-section {
    margin: 14px 0;
  }
  
  .example-group {
    margin-bottom: 30px;
  }
  
  .player-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .player-images img {
    width: 50px;
    height: auto;
  }

}








































@media (max-height: 800px) and (min-width: 601px) {
  .connections-game {
    width: 70vh;
    position: relative;
    margin: 0 auto;
    padding: 2.5380710659898478vh;
    text-align: center;
  }
  
  h1 {
    font-size: 2.845685279187817vh;
    margin-top: -2.5380710659898478vh;
    width: 100%;
    margin-bottom: 2.5380710659898478vh;
  }
  
  .terms-grid {
    gap: 1vh;
    margin-bottom: 1.2vh;
  }
  
  .term-block {
    aspect-ratio: 1 / 1;
    height: 16vh;
    width: 16vh;
  }
  
  .term-block.selected {
    background-color: #858585; 
    transform: scale(1.01); 
  }
  
  .term-block:hover {
    background-color: #cccccc;
  }
  
  .mistakes-section {
    text-align: center;
    font-size: 2.15vh;
    margin-bottom: 1.2vh; 
  }
  
  .game-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5380710659898478vh;
  }
  
  .game-controls button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
    height: 5vh; 
    width: 25.380710659898478vh;
    border-radius: 2.5380710659898478vh;;
    box-sizing: border-box;
    font-size: 1.5380710659898478vh;
    margin-bottom: 100vh;
  }
  
  .game-controls button:hover {
    background-color: #555;
  }
  
  .game-controls button:disabled {
    background-color: #444;
    color: #bbb;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .baseball-icon {
    width: 3.5vh;
    height: auto;
    display: inline-block;
    margin-right: 4px;
  }
  
  .popup-message {
    position: absolute;
    top: 4.8%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #f44336;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -3vh;
    z-index: 10; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(150% - .8vh);
    max-width: 350px;
    height: 5vh;
    font-size: 2vh
  }
  
  .popup-show {
    display: block; 
  }
  
  .guessed-group-combined {
    color: white;
    height: 16vh;
    width: 102%;
    padding: 2.1413276231263385vh;
    margin-bottom: 1.1413276231263385vh;
    border-radius: 1vh;
    text-align: center;
  }
  
  .group-description {
    font-weight: bold;
    margin-bottom: .3vh;
  }
  
  .results-popup {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  .results-content {
    position: relative;
    background: #fff;
    color: #333;
    padding: 4vh;
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    max-width: 152.28426395939087vh;
    min-height: 25.380710659898476vh;
    max-height: 101.5228426395939vh;
    overflow-y: auto;
  }
  
  .results-content h2 {
    margin-bottom: 1rem;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .game-button {
    padding: 1vh 2vh;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 1.5vh;
    margin-right: 1vh;
    transition: background-color 0.3s;
    height: 5.738880918220947vh;
    width: 28.694404591104735vh;
    box-sizing: border-box;
    font-size: 1.7vh;
    margin-bottom: 5.738880918220947vh;
    margin-bottom: 5.338880918220947vh;
  }
  
  .copy-summary-button {
    padding: 1vh 2vh;
    margin-top: 2vh;
    margin-bottom: -1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: .3vh;
    transition: background-color 0.3s;
    font-size: 2vh;
  }
  
  .copy-summary-button:hover {
    background-color: #0056b3;
  }
  
  .difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .difficulty-level {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vh;
  }
  
  .difficulty-color {
    width: 1.9vh;
    height: 1.9vh;
    margin-right: 8px;
  }
  
  .difficulty-name {
    font-size: 1.5vh;
    min-width: 10.152284263959391vh;
    font-weight: 500;
    text-align: left;
  }
  
  .game-summary-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
  }
  
  .summary-row {
    display: flex;
  }
  
  .summary-block {
    width: 4.441624365482234vh;
    height: 4.441624365482234vh;
    margin: 2px;
  }
  
  .next-puzzle-countdown {
    margin-top: 2.0rem;
    color: #333;
    font-size: 2.4vh;
    font-weight: 500;
  }
  
  .message-header {
    font-size: 3.3vh;
    font-weight: 800;
    margin-top: -4vh;
    margin-bottom: 0px;
  }
  
  .game-number {
    font-size: 2vh;
    margin-top: -1.9vh;
    margin-bottom: 1.9vh;
    font-weight: 500;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .header-container::before {
    content: '';
    visibility: hidden;
    width: 46.5px;
    height: -50px;
    display: block;
  }

  .how-to-play-content {
    background: #fff;
    color: #333;
    padding: 1.7vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 600px;
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
  }
  
  .how-to-play-button {
    padding: 1vh 2vh;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -5vh;
    transition: background-color 0.3s;
    height: 6vh; 
    width: 9vh;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1.55vh;
  }
  
  .button-placeholder {
    visibility: hidden;
    width: 46.5px;
    height: -50px;
  }
  
  .how-to-play-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .how-to-play-content p {
    line-height: 3.5;
    font-weight: 500;
  }
  
  .how-to-play-content h1 {
    margin-top: -1vh;
    font-weight: bold;
  }
  
  .example-section {
    margin: 14px 0;
  }
  
  .example-group {
    margin-bottom: 30px;
  }
  
  .player-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;
  }
  
  .player-images img {
    width: 80px;
    height: auto;
  }
}